<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>

    <add key="ida:Tenant" value="b99a4146-58f2-4358-9912-deae7cfd8b27"/>

    <add key="ida:ClientId" value="ccbbf6bd-5778-49d1-8070-6d6676cdcebd"/>

    <add key="todo:TodoListScope" value="api://12cf7f46-e6c2-4cd6-9989-2b55a659b149/access_as_user"/>
  
    <add key="todo:TodoListBaseAddress" value="https://localhost:44351/"/>
   </appSettings>
</configuration>